@model IEnumerable<GNA.Models.Path>
@{
    ViewBag.Title = "ListPath";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center display-4">Liste des Route Crée</h2>

@Html.ActionLink("Ajouter nouvelles Itinéraire", "AddPath", "", new { @class = "btn btn-outline-dark my-4 btn-block" })

<table class="table">
    <thead class="table-dark">
        <tr>

            <th>

                Ville de Départ
            </th>
            <th>

                Ville d'arrivé
            </th>
            <th>

                Heur de Départ
            </th>
            <th>
                Heur d'arrivé
            </th>
            <th>
                Capacité
            </th>
            <th>
                Prix
            </th>
            <th></th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FromCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureTime.Hour) :
                @if (item.DepartureTime.Minute < 10)
                {
                    <span>
                        0 @Html.DisplayFor(modelItem => item.DepartureTime.Minute)
                    </span>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.DepartureTime.Minute)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArivalTime.Hour):
                @Html.DisplayFor(modelItem => item.ArivalTime.Minute)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price) DH
            </td>
        </tr>
    }
</table>