@using GNA.Models
<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizer")
    <link rel="Shortcut Icon" href="~/favicon.ico" type="image/x-icon" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("My BUS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })</li>
                    <li class="nav-item" @(Session["user"] != null ? "hidden" : "")>@Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link" })</li>
                    <li class="nav-item" @(Session["user"] != null ? "hidden" : "")>@Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-link" })</li>
                    @{ if (Session["user"] != null)
                        {
                            if (Session["user"].GetType().Name == "Client")
                            {
                                <li class="nav-item" @(Session["user"] != null ? "" : "hidden")>
                                    @Html.ActionLink("Chercher une Navette ", "Index", "Clients", null, new { @class = "nav-link" })
                                </li>
                                <li class="nav-item" @(Session["user"] != null ? "" : "hidden")>
                                    @Html.ActionLink("Liste des Navette ", "ListPath", "Clients", null, new { @class = "nav-link" })
                                </li>
                            }
                            else if (Session["user"].GetType().Name == "TransportCompany")
                            {
                                <li class="nav-item" @(Session["user"] != null ? "" : "hidden")>
                                    @Html.ActionLink("Ajouter Navette ", "AddPath", "TransportCompany", null, new { @class = "nav-link" })
                                </li>

                                <li class="nav-item" @(Session["user"] != null ? "" : "hidden")>
                                    @Html.ActionLink("Liste des Navette ", "ListPath", "TransportCompany", null, new { @class = "nav-link" })
                                </li>
                            }
                        }

                    }
                </ul>
                <span class="navbar-text">
                    <ul class="nav navbar-nav mr-auto">
                        <li class="nav-item" @(Session["user"] != null ? "hidden" : "")>
                            @Html.ActionLink("Se Connecter", "Login", "Clients", null, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item" @(Session["user"] != null ? "hidden" : "")>
                            @Html.ActionLink("S'inscrire", "Signin", "Clients", null, new { @class = "nav-link" })
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" @(Session["user"] == null ? "hidden" : "") href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @Session["user"]
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                                @Html.ActionLink("Déconnexion", "Logout", "Clients", null, new { @class = "dropdown-item text-danger" })
                            </div>
                        </li>
                    </ul>
                </span>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="text-center">
            <p>&copy; @DateTime.Now.Year - Projet fait et Réaliser par BENBRIK Mouad et KENSI Badr</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>