@model GNA.Models.Path
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div className="py-2 bg-primary text-white">
    <div className="container">
        <div className="row">
            <div className="col-md-6">
                <div class="display-2 text-center">
                    Trouvé les Ligne
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
@* A center *@
@using (Html.BeginForm("ListPath", "Clients"))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.FromCity, "Ville de départ", htmlAttributes: new { @class = "control-label " })
        @Html.EditorFor(model => model.FromCity, new { htmlAttributes = new { @class = "form-control form-control-lg" } })
        @Html.ValidationMessageFor(model => model.FromCity, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ToCity, "Ville d'arivvé", htmlAttributes: new { @class = "" })
        @Html.EditorFor(model => model.ToCity, new { htmlAttributes = new { @class = "form-control form-control-lg" } })
        @Html.ValidationMessageFor(model => model.ToCity, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label for="from">Heur de départ</label>

        <input type="number" id="from" class="form-control" min="0" max="23" name="from" />
    </div>
    <div class="form-group">
        <label for="from">Heur de D'arrivé</label>
        <input type="number" id="to" class="form-control" min="0" max="23" name="from" />
    </div>

    <input type="submit" value="Chercher" class="btn btn-outline-dark my-5 ju" />

}